In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Importing Dataset

In [3]:
df= pd.read_csv("adult.csv")

In [4]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

#### Checking data types

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education.num     32561 non-null int64
marital.status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.loss      32561 non-null int64
hours.per.week    32561 non-null int64
native.country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

##### Changing data type of dependent variable (income in this dataset) into binary (0 if income<= 50k else 1)

In [6]:
df["income"]=[0 if x=="<=50K" else 1 for x in df["income"]]

##### Making dataframe and list of independent variables and dependent variable

In [7]:
X= pd.DataFrame(df.drop("income",axis=1))
Y= df["income"]

##### Checking missing data

In [8]:
X.isnull().sum().sort_values(ascending=False)

native.country    0
hours.per.week    0
capital.loss      0
capital.gain      0
sex               0
race              0
relationship      0
occupation        0
marital.status    0
education.num     0
education         0
fnlwgt            0
workclass         0
age               0
dtype: int64

In [12]:
'''for col_name in X.columns:
    if X[col_name].dtypes=='object':
        unique_cat=len(X[col_name].unique)
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name,unique_cat=unique_cat))'''

TypeError: object of type 'method' has no len()

In [17]:
for col_name in X.columns:
    if X[col_name].dtypes=='object':
        unique_cat= [1 if x=="?" for x in X[col_name]].sum()
        print("Feature '{col_name}' has {unique_cat} missing values".format(col_name=col_name,unique_cat=unique_cat))

SyntaxError: invalid syntax (<ipython-input-17-32ea086b5524>, line 3)